# Local .terraform directories
.terraform/

# .terraform.lock.hcl file (optional, commit this only if version locking is necessary)
.terraform.lock.hcl



# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log

# Override files (local-only configurations)
*.override.tf
*.override.tf.json
*_override.tf
*_override.tf.json

# Personal settings
.terraformrc
terraform.rc

